<section>
  <div class="page-header">
    <h1 ng-bind="vm.adventure.name"></h1>
  </div>
  <div class="object-values">
    <dl class="dl-horizontal">
      <dt translate>Name</dt>
      <dd ng-bind="vm.adventure.name"></dd>
      <dt translate>Description</dt>
      <dd ng-bind="vm.adventure.description"></dd>
      <dt translate>Min Level</dt>
      <dd ng-bind="vm.adventure.minLevel"></dd>
      <dt translate>Max Level</dt>
      <dd ng-bind="vm.adventure.maxLevel"></dd>
      <dt translate>Reward Feather</dt>
      <dd ng-bind="vm.adventure.rewardFeather"></dd>
      <dt translate>Reward XP</dt>
      <dd ng-bind="vm.adventure.rewardXp"></dd>
      <dt translate>Reward Royal Blood</dt>
      <dd ng-bind="vm.adventure.rewardBlood"></dd>
      <dt translate>Time Limit (Seconds)</dt>
      <dd ng-bind="vm.adventure.timeLimit"></dd>
      <dt translate>Can Repeat</dt>
      <dd ng-bind="vm.adventure.canRepeat"></dd>
      <dt translate>History</dt>
      <dd>
        <table class="table table-condensed">
          <thead>
          <tr>
            <th translate>User</th>
            <th translate>Date</th>
            <th translate>Action</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="modified in vm.adventure.modified">
            <td><a ui-sref="admin.user({ userId: modified.user._id })">{{modified.user.displayName}}</a></td>
            <td>{{modified.date | date: "dd/MM/yyyy HH:mm:ss"}}</td>
            <td translate>{{modified.action}}</td>
          </tr>
          </tbody>
        </table>
      </dd>
    </dl>
  </div>
  <div class="pull-right"
       ng-show="vm.adventure.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="adventures.edit({ adventureId: vm.adventure._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      {{ "Posted on" | translate }}
      <span ng-bind="vm.adventure.created | date:'mediumDate'"></span>
      {{ "by" | translate }}
      <span ng-if="vm.adventure.user"
            ng-bind="vm.adventure.user.displayName"></span>
      <span ng-if="!vm.adventure.user" translate>Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.adventure.content"></p>
</section>
