<section>
  <div class="page-header">
    <h1 translate>{{vm.rank._id ? 'Edit Rank' : 'New Rank'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.rankForm" class="form-horizontal" ng-submit="vm.save(vm.form.rankForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name" translate>Name</label>
          <input name="name" type="text" ng-model="vm.rank.name" id="name" class="form-control" placeholder="{{ 'Name' | translate }}" required>
          <div ng-messages="vm.form.rankForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required" translate>Rank name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="level" translate>Level</label>
          <input name="level" type="number" ng-model="vm.rank.level" id="level" min="1" class="form-control" placeholder="{{ 'Level' | translate }}" required>
          <div ng-messages="vm.form.rankForm.level.$error" role="alert">
            <p class="help-block error-text" ng-message="required" translate>Rank level is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-raised" translate>{{vm.rank._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
