<md-content layout="column" layout-padding>
  <div layout="column">
    <h2 class="md-title" translate>{{vm.itemType._id ? 'Edit Item type' : 'New Item type'}}</h2>
    <md-divider></md-divider>
  </div>
  <form name="vm.form.itemTypeForm" layout="column" ng-submit="vm.save(vm.form.itemTypeForm.$valid)" novalidate>
    <div layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label translate>Name</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input name="name" type="text" ng-model="vm.itemType.name" id="name" required>
        <div ng-messages="vm.form.itemTypeForm.name.$error">
          <p ng-message="required" translate>Item type name is required.</p>
        </div>
      </md-input-container>
      <div layout="row" layout-wrap flex="100">
        <p class="md-subhead" flex="100"><md-icon md-font-set="material-icons">person</md-icon> Equip</p>
        <div flex="25">
        <md-checkbox ng-model="vm.itemType.canBeEquiped">
          <span translate>Can Be Equiped</span>
        </md-checkbox>
        </div>
        <div flex="25">
        <md-checkbox ng-model="vm.itemType.canBeEquiped">
          <span translate>Can Be Equiped 2</span>
        </md-checkbox>
        </div>
        <div flex="25">
          <md-checkbox ng-model="vm.itemType.canBeEquiped">
            <span translate>Can Be Equiped 2</span>
          </md-checkbox>
        </div>
      </div>
    </div>
    <div layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label translate>Name</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input name="name" type="text" ng-model="vm.itemType.name" id="name" required>
        <div ng-messages="vm.form.itemTypeForm.name.$error">
          <p ng-message="required" translate>Item type name is required.</p>
        </div>
      </md-input-container>
    </div>
    <div layout="row">
      <md-input-container>
        <label>Vegetables</label>
        <md-select ng-model="vm.itemType.vegetables" md-on-close="vm.clearSearchTerm()" data-md-container-class="select-search" multiple>
          <md-select-header class="select-search-header"> <!-- Se tiver search -->
            <input ng-model="vm.searchTerm" type="search" placeholder="Search for a vegetable..." class="select-search-searchbox md-text">
          </md-select-header>
          <md-option><em>None</em></md-option> <!-- Se não for required -->
          <md-optgroup label="vegetables">
            <md-option ng-value="vegetable._id" ng-selected="vm.itemType.vegetables.indexOf(vegetable._id) > -1" ng-repeat="vegetable in vm.vegetables | filter: vm.searchTerm">{{vegetable.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label for="drink" translate>Drink</label>
        <input name="drink" type="text" ng-model="vm.teste.drink" id="drink" pattern="/(\d{2}) \d{5}-\d{4}/">
        <div ng-messages="vm.form.testeForm.drink.$error">
          <p ng-message="pattern" translate>This is not a valid phone number!</p>
        </div>
      </md-input-container>
      <md-input-container flex>
        <label for="drink2" translate>Drink 2</label>
        <input name="drink2" type="text" ng-model="vm.teste.drink2" id="drink2" pattern="/(\d{2}) \d{5}-\d{4}/">
        <div ng-messages="vm.form.testeForm.drink2.$error">
          <p ng-message="pattern" translate>This is not a valid phone number 2!</p>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label for="ammount" translate>Ammount</label>
        <input name="ammount" type="number" ng-model="vm.teste.ammount" id="ammount" min="5" max="100" required>
        <div ng-messages="vm.form.testeForm.ammount.$error">
          <p ng-message="min" translate>Too few</p>
          <p ng-message="max" translate>Too much</p>
          <p ng-message="required" translate>An?</p>
        </div>
      </md-input-container>
    </div>
    <div layout-gt-sm="row" layout-wrap>
      <p class="md-subhead" flex="100">Eat</p>
      <div flex="25" ng-repeat="eat in vm.eats">
        <md-checkbox name="selectedEat[]" value="{{eat}}" ng-checked="vm.selectedEat.indexOf(eat) > -1" ng-click="vm.toggleSelectedEat(eat)" ng-disabled="!vm.teste.ammount">
          <span translate>{{eat}}</span>
        </md-checkbox>
      </div>
      <div flex="25">
        <md-checkbox name="selectedEat[]" value="bacon" ng-checked="vm.selectedEat.indexOf('bacon') > -1" ng-click="vm.toggleSelectedEat('bacon')" ng-disabled="!vm.teste.ammount">
          <span translate>Bacon</span>
        </md-checkbox>
      </div>
      <div flex="25">
        <md-checkbox name="selectedEat[]" value="eggs" ng-checked="vm.selectedEat.indexOf('eggs') > -1" ng-disabled="!vm.teste.ammount">
          <span translate>Eggs</span>
        </md-checkbox>
      </div>
      <div flex="25">
        <md-checkbox name="selectedEat[]" value="bacon" ng-checked="vm.selectedEat.indexOf('bacon') > -1" ng-disabled="!vm.teste.ammount">
          <span translate>Bacon</span>
        </md-checkbox>
      </div>
    </div>
    <div layout-gt-sm="row" layout-wrap>
      <md-checkbox ng-model="vm.teste.eat2" ng-disabled="!vm.teste.ammount">
        <span translate>Eat 2?</span>
      </md-checkbox>
    </div>
    <div layout-gt-sm="row" layout-wrap>
      <md-input-container flex>
        <label>Companion</label>
        <md-select ng-model="vm.teste.companion" md-on-close="vm.clearSelectOptSearchTerm()" data-md-container-class="select-search" multiple>
          <md-select-header class="select-search-header">
            <input ng-model="vm.selectOptSearchTerm" type="search" placeholder="{{ 'Search for a Companion...' | translate }}" class="select-search-searchbox md-text">
          </md-select-header>
          <md-optgroup label="Companions">
            <md-option ng-value="companion._id" ng-selected="vm.teste.companion.indexOf(companion._id) > -1" ng-repeat="companion in vm.companions | filter: vm.selectOptSearchTerm">
              {{companion.displayName}}
            </md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
      <md-input-container flex>
        <label>Companion 2</label>
        <md-select ng-model="vm.teste.companion2" md-on-close="vm.clearSelectOptSearchTerm()" data-md-container-class="select-search">
          <md-option><em translate>None</em></md-option>
          <md-option ng-value="companion2._id" ng-selected="vm.teste.companion2.indexOf(companion2._id) > -1" ng-repeat="companion2 in vm.companion2s | filter: vm.selectOptSearchTerm">
            {{companion2.displayName}}
          </md-option>
        </md-select>
      </md-input-container>
    </div>
    <div layout="row" layout-align="end center">
      <md-button type="button" class="md-raised" go-back-btn>
        <md-icon md-font-set="material-icons">cancel</md-icon>
        {{'Cancel' | translate}}
      </md-button>
      <md-button type="submit" class="md-primary md-raised">
        <md-icon md-font-set="material-icons">save</md-icon>
        {{vm.itemType._id ? 'Update' : 'Create' | translate}}
      </md-button>
    </div>
  </form>
</md-content>
