<md-content layout="column" layout-padding>
  <div layout="column">
    <h2 class="md-title" translate>Item types</h2>
    <md-divider></md-divider>
  </div>
  <h3 class="md-subheader">Filter</h3>
  <form name="vm.form.itemTypeFilter" ng-submit="vm.filterSimple()">
    <div layout="row">
      <md-input-container flex="50">
        <label translate>Search</label>
        <md-icon md-font-set="material-icons">filter_list</md-icon>
        <input name="value" type="text" ng-model="vm.itemTypeFilter.value">
      </md-input-container>
      <md-input-container flex="50">
        <label translate>Active</label>
        <md-icon md-font-set="material-icons">check</md-icon>
        <md-select ng-model="vm.itemTypeFilter.active" ng-change="vm.refilter()">
          <md-option ng-value=""><span translate>All</span></md-option>
          <md-option ng-value="true" translate>Yes</md-option>
          <md-option ng-value="false" translate>No</md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
  <md-divider></md-divider>
  <md-list class="md-dense" flex>
    <div ng-if="!vm.itemTypes || (vm.itemTypes | filter: { 'name': vm.itemTypeFilter.value }).length == 0">
      <md-subheader class="md-no-sticky" layout="row" layout-align="center center">{{ 'No records' | translate }}</md-subheader>
      <md-divider></md-divider>
    </div>
    <md-list-item class="md-2-line secondary-button-padding" ng-repeat="itemType in vm.itemTypes | filter: { 'name': vm.itemTypeFilter.value }">
      <div class="md-list-item-text" layout="column">
        <h3>{{ itemType.name }}</h3>
        <p class="md-caption">
          {{ "Posted on" | translate }}{{ itemType.user.name }}
          <span ng-bind="itemType.created | date:'mediumDate'"></span>
          {{ "by" | translate }}
          <span ng-if="itemType.user" ng-bind="itemType.user.displayName"></span>
          <span ng-if="!itemType.user" translate>Deleted User</span>
        </p>
        <md-menu class="md-secondary">
          <md-button ng-click="$mdOpenMenu()" class="md-icon-button">
            <md-icon md-font-set="material-icons">more_vert</md-icon>
            <md-tooltip><span translate>Actions</span></md-tooltip>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ui-sref="item-types.view({ itemTypeId: itemType._id })">
                <md-icon class="md-primary" md-font-set="material-icons">remove_red_eye</md-icon>
                {{ 'View' | translate }}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ui-sref="item-types.edit({ itemTypeId: itemType._id })">
                <md-icon class="md-accent" md-font-set="material-icons">edit</md-icon>
                {{ 'Edit' | translate }}
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.changeState($event, itemType)">
                <md-icon class="md-warn" md-font-set="material-icons">delete</md-icon>
                {{ 'Delete' | translate }}
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
      <md-divider></md-divider>
    </md-list-item>
  </md-list>
  <div class="alert alert-warning text-center" ng-if="vm.itemTypes.$resolved && !vm.itemTypes.length">
    {{ "No Item types yet, why don't you" }} <a ui-sref="item-types.create" translate>create one</a>?
  </div>
  <div layout-margin></div>
  <h3 class="md-subheader">Filter</h3>
  <form name="vm.form.itemTypeFilter" form-on-change="vm.filterItems()">
    <div layout="row" layout-margin>
      <md-input-container flex="50">
        <label>{{ 'Name' | translate }}</label>
        <md-icon md-font-set="material-icons">person</md-icon>
        <input name="name" type="text" ng-model="vm.itemTypeFilter.name">
      </md-input-container>
      <md-input-container flex="25">
        <label translate>Active</label>
        <md-icon md-font-set="material-icons">check</md-icon>
        <md-select ng-model="vm.itemTypeFilter.active" ng-change="vm.refilter()">
          <md-option ng-value="" translate>All</md-option>
          <md-option ng-value="true" translate>Yes</md-option>
          <md-option ng-value="false" translate>No</md-option>
        </md-select>
      </md-input-container>
      <md-input-container flex="25">
        <label translate>Can Be Equiped</label>
        <md-icon md-font-set="material-icons">check</md-icon>
        <md-select ng-model="vm.itemTypeFilter.canBeEquiped" ng-change="vm.filterItems()">
          <md-option ng-value="" translate></md-option>
          <md-option ng-value="true" translate>Yes</md-option>
          <md-option ng-value="false" translate>No</md-option>
        </md-select>
      </md-input-container>
    </div>
  </form>
  <md-divider></md-divider>
  <md-table-container>
    <table md-table>
      <thead md-head md-order="vm.order">
        <tr md-row>
          <th md-column md-order-by="name">{{ 'Name' | translate }}</th>
          <th md-column>{{ 'Actions' | translate }}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="itemType in vm.itemTypes | orderBy: vm.order | limitTo: vm.pagination.limit: (vm.pagination.page - 1) * vm.pagination.limit">
          <td md-cell>{{ itemType.name | translate }}</td>
          <td md-cell layout="row">
            <div class="show-gt-sm hide-xs hide-sm">
              <md-button ui-sref="item-types.view({ itemTypeId: itemType._id })" class="md-icon-button">
                <md-icon class="md-primary" md-font-set="material-icons">remove_red_eye</md-icon>
                <md-tooltip>{{ 'View' | translate }}</md-tooltip>
              </md-button>
              <md-button ui-sref="item-types.edit({ itemTypeId: itemType._id })" class="md-icon-button">
                <md-icon class="md-accent" md-font-set="material-icons">edit</md-icon>
                <md-tooltip>{{ 'Edit' | translate }}</md-tooltip>
              </md-button>
              <md-button ng-click="vm.changeState($event, itemType)" class="md-icon-button">
                <md-icon class="md-warn" md-font-set="material-icons">delete</md-icon>
                <md-tooltip>{{ 'Delete' | translate }}</md-tooltip>
              </md-button>
            </div>
            <div class="hide-gt-sm">
              <md-menu>
                <md-button ng-click="$mdOpenMenu()" class="md-icon-button">
                  <md-icon md-font-set="material-icons">more_vert</md-icon>
                  <md-tooltip><span translate>Actions</span></md-tooltip>
                </md-button>
                <md-menu-content>
                  <md-menu-item>
                    <md-button ui-sref="item-types.view({ itemTypeId: itemType._id })">
                      <md-icon class="md-primary" md-font-set="material-icons">remove_red_eye</md-icon>
                      {{ 'View' | translate }}
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ui-sref="item-types.edit({ itemTypeId: itemType._id })">
                      <md-icon class="md-accent" md-font-set="material-icons">edit</md-icon>
                      {{ 'Edit' | translate }}
                    </md-button>
                  </md-menu-item>
                  <md-menu-item>
                    <md-button ng-click="vm.changeState($event, itemType)">
                      <md-icon ng-if="itemType.active === true" class="md-warn" md-font-set="material-icons">remove_circle</md-icon>
                      <md-icon ng-if="itemType.active === false" class="md-accent md-hue-2" md-font-set="material-icons">check_circle</md-icon>
                      {{ itemType.active === true ? 'Inactivate' : 'Activate' | translate }}
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table md-table ng-if="!vm.itemTypes || vm.itemTypes.length == 0">
      <tbody md-body>
        <tr md-row>
          <td md-cell class="no-records-cell" layout="row" layout-align="center center"><h2 class="md-subheader" translate>No records</h2></td>
        </tr>
      </tbody>
    </table>
  </md-table-container>
  <md-table-pagination md-limit="vm.pagination.limit" md-limit-options="vm.pagination.limitOptions" md-label="{{vm.pagination.label}}" md-page="vm.pagination.page" md-total="{{vm.itemTypes.length}}" md-page-select></md-table-pagination>
</md-content>
